h1{
    text-align: center;
    text-transform: uppercase;
}
div{
    background-color: aqua;
    color: black;
    padding: 0px 5px;
    margin: 5px 10px;
    display: flex;
    justify-content: space-around;
}
body{
    background-color: violet;
}
img{
    float: right;
}
p{
    font-size: 2rem;
}